@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);

$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.btn {
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-light {
  background-color: #fff;
  color: $Very-Dark-Violet;
  border: 2px solid $Very-Dark-Violet;
}

.btn-dark {
  background-color: $Dark-Violet;
  color: #fff;
  border: 2px solid #fff;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

#header {
  .navbar {

    .container {
      justify-content: space-between;
      margin: 1rem auto;

      .logo {
        align-self: center;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          margin-right: 2rem;

          a {
            color: $Dark-Grayish-Violet;
            font-weight: bold;
            font-size: 14px;

            &:hover {
              color: $Very-Dark-Violet;
            }
          }

          button {
            font-weight: bold;
            font-style: 14px;

            &:hover {
              background-color: $Dark-Violet;
              color: #fff;
              border: 2px solid #fff;
            }
          }
        }
      }
    }
  }

  .hero {
    background: $Dark-Violet;

    &::before {
      position: absolute;
      content: '';
      background: url('./images/bg-pattern-intro-right-desktop.svg') no-repeat top right;
      background-size: 350px;
      height: 100%;
      width: 100%;
      z-index: 3;
    }

    &::after {
      position: absolute;
      content: '';
      background: url('./images/bg-pattern-intro-left-desktop.svg') no-repeat bottom left;
      background-size: 150px;
      height: 100%;
      width: 100%;
      top: 45%;
      z-index: 3;
    }

    .container {
      .content {
        flex: 1;
        margin-bottom: 9rem;
        margin-right: 7rem;
        z-index: 5;

        &::before {
          position: absolute;
          content: "";
          border-top: 2px solid #fff;
          width: 140px;
          display: block;
          margin: 6rem 0;
        }

        h1 {
          font-size: 4em;
          line-height: 1em;
          margin-top: 2.5em;
          color: #fff;
        }

        p {
          color: #fff;
          margin-top: 2rem;
          line-height: 1.5em;
        }

        button {
          margin-top: 2rem;

          &:hover {
            background-color: #fff;
            color: $Very-Dark-Violet;
            border: 2px solid $Very-Dark-Violet;
          }
        }
      }

      .image {
        flex: 1;
        position: relative;
        width: 100%;

        img {
          position: absolute;
          margin-top: 6rem;
        }
      }
    }
  }
}

#were-different {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 9rem;

    &::before {
      position: absolute;
      content: "";
      border-top: 2px solid $Dark-Grayish-Violet;
      width: 140px;
      display: block;
      margin: 6em 0;
    }

    h1 {
      font-size: 4em;
      line-height: 1em;
      margin-top: 2.8em;
    }

    .list {
      display: flex;
      justify-content: space-between;
      margin-top: 6rem;

      div {
        width: 31.5%;

        h2 {
          margin-top: 2rem;
        }

        p {
          margin-top: 1rem;
          color: $Dark-Grayish-Violet;
        }
      }
    }
  }
}

#how-we-work {
  margin: 11rem 0;

  .container {
    margin-top: 3rem;

    .find-more {
      background: url('./images/bg-pattern-how-we-work-desktop.svg') no-repeat right, $Dark-Violet;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 3.5rem;
      align-items: center;

      h1 {
        font-size: 3em;
        line-height: 1em;
        color: #fff;
      }

      .cta {
        button {
          &:hover {
            background-color: #fff;
            color: $Very-Dark-Violet;
            border: 2px solid $Very-Dark-Violet;
          }
        }
      }
    }
  }
}

#footer {
  background: url('./images/bg-pattern-footer-desktop.svg') no-repeat top left, $Very-Light-Gray;

  .container {
    flex-direction: column;

    .logo-socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-top: 4rem;

      .socials {
        .social-list {
          display: flex;

          li {
            margin-left: 1rem;

            a {
              svg {
                path {
                  &:hover {
                    fill: $Very-Dark-Violet;
                  }
                }
              }
            }
          }
        }
      }

      &::after {
        position: absolute;
        content: "";
        border-top: 1px solid $Dark-Grayish-Violet;
        opacity: 0.4;
        width: 100%;
        display: block;
        margin-top: 6rem;
      }
    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 12rem;
      padding: 5rem 0 3rem 0;

      div {
        font-size: 14px;

        p {
          text-transform: uppercase;
          font-weight: bold;
          color: $Dark-Grayish-Violet;
        }

        ul {
          margin-top: 2rem;

          li {
            margin-bottom: .7rem;
            font-weight: bold;

            a {
              color: $Very-Dark-Violet;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}